/* You can add global styles to this file, and also import other style files */

// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-light-blue, 500);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme((color: (primary: $primary,
      accent: $accent,
    )));

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import './uikit.css';
